<div class="container mt-5">

    <h2>Modifier un client</h2>

    <div class="row">

        <div class="col-6 mx-auto">

            <input [(ngModel)]="client.name"  type="text" class="form-control m-2" placeholder="name">
            <input [(ngModel)]="client.description" type="text" class="form-control m-2" placeholder="description">
            <input [(ngModel)]="client.entreprise" type="text" class="form-control m-2" placeholder="entreprise">
            <input [(ngModel)]="client.titreprojet" type="text" class="form-control m-2" placeholder="titre projet">
            <input (change)="selectionnerImage($event)" type="file" class="form-control m-2" placeholder="image">
        

            <button (click)="update()"  class="btn btn-primary form-control m-2">modifier</button>

        </div>


    </div>

</div>