   <!-- ========== Left Sidebar Start ========== -->
   <div class="leftside-menu">

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm.png" alt="" height="16">
        </span>
    </a>



    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Navigation</li>

            <li class="side-nav-item">
                <a [routerLink]="['/dashboard/departement']"  data-bs-toggle="collapse" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Gestion departement </span>
                </a>

            </li>

            <li class="side-nav-item">
                <a [routerLink]="['/dashboard/employee']" data-bs-toggle="collapse" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Gestion employee </span>
                </a>

            </li>
            <li class="side-nav-item">
                <a [routerLink]="['/dashboard/client']" data-bs-toggle="collapse" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Gestion client </span>
                </a>

            </li>



        </ul>



    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->